---
interface Props {
  href: string;
  label: string;
}

const { href, label } = Astro.props;
---

<a href={href} class="whatsapp-float pulse" target="_blank" aria-label={label}>
  <i class="fab fa-whatsapp"></i>
</a>
